.home-container {
	margin: 0;
	padding: 0;
	height: 100vh;
	text-align: center;
	width: 100vw;
	color: white;
}


* {
	box-sizing: border-box;
}

.github-link {
	color: white;

}

html, body {
	padding: 0;
	margin: 0;
	color: white;
	font-family: Raleway !important;
}

#mid-section {
	/*border: 2px solid red;*/
	height: 400px;
}

.nav-links {
	display: inline-block;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 50px;
	margin-top: 22%;
	/*border: 2px solid red;*/
}

#explore-link {
	color: white;
	font-size: 35px;
	border-bottom: 4px solid cyan;
	padding: 10px 15px;
}

#explore-link:hover {
	background: cyan;
	color: white;
}

#name {
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 0;
}


#exit-pages {
	position: absolute;
	right: 2%;
	top: 2%;
}

#content-container {
	height: 100vh;
	/*border: 2px solid red;*/
	text-align: center;
}

#section1 {
	margin: 0 auto;
	height: 100vh;
	color: white;
}

.project-page-intro {
	height: 500px;
	font-family: Raleway;
}


#nav-container {
	/*border: 2px solid red;*/
	max-height: 100vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

#full {
	/*border: 2px solid red;*/
	 height: 4100px;
	 background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.h2 {
	margin-top: -20px;
}

.work-headers {
	font-size: 3em;
}
#projects-container {
	/*border: 2px solid red;*/
	text-align: center;
}

#divide-section {
	/*border: 2px solid green;*/
	height: 150px;

}

#section2 {
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 188, 212, 0.6);
    /*border: 5px solid dodgerblue;*/
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
}

.thumbnail {
	margin: 0% auto;
	margin-top: 20px;
	border-style: none;
	width: 90%;
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
}

#right-side {
	background-color: rgba(255, 255, 255, 1);
}

img {
	border: none;
}



.work-intro-content {
	color: white;
}

#animated-button {
	background: none;
	color: white;
	/*border: 2px solid red;*/
	margin-top: -20px;
	width: 100%;
	font-size: 35px;
	border-bottom: 4px solid cyan;
}

h1 {
	margin-top: 0;
}

#home-name-explore {
	margin-top: 29%;
	padding: 20px;
	padding-bottom: 30px;
}

#top-half-nav {
	margin-top: 20%;
	margin-right: 4%;
	font-style: italic;
}

.home-content {
	margin-top: 2%;
	display: inline-block;
	font-style: italic;
}

#nav-page-content {
	/*border: 2px solid blue;*/
}

#nav-page-social-links {
	font-size: 25px;
	text-align: center;
	margin-top: 16%;
}

#nav-page-links {
	margin-top: 20%;
	/*border: 2px solid blue;*/
}


#modal-content {
	border: 2px solid blue;
	text-align: center;
	margin: 17% auto;
	padding: 0 20px;
	/*margin-right: 5%;*/
	font-style: italic;
}

#social-links {
	border: 2px solid blue;
	text-align: center;
	margin: 22% auto;
	font-size: 25px;
}

.social-links {
	/*border: 2px solid blue;*/
	padding: 15px 60px;
	display: inline-block;
	color: white;
	border-top: 2px solid cyan;
	border-spacing: 10px;
	margin: 2px;

}



#modal-full {
	border: 2px solid blue;
	/*height: 750px;*/
	/*width: 100%;*/
}

.social-links:hover, .modal-links:hover {
	background: cyan;
}

.cyan {
	color: cyan;
}

#home-app-modal {
	font-size: 35px;
	/*border-bottom: 4px solid cyan;*/
	padding: 0 15px;
	padding-bottom: 5px;
	background: none;
	/*border: 2px solid red;*/
	display: inline-block;
}

.modal-close {
	position: absolute;
	right: 0;
	top: 0;
}



.sem-btn {
	border: none;
}

.divider {
	background-color: cyan;
}

.app-modal {
	z-index: 9999;
	position: fixed;
	right: 7px;
	top: 7px;
	/*border: 2px solid blue;*/
}

.modal-links {
	display: inline-block;
	color: white;
	font-size: 50px;
	font-weight: 700;
	/*border: 2px solid blue;*/
	padding: 15px 60px;
	
}

a:hover:after, a:focus:after, .active:after {
    content: " ";
    width: 100%;
    height: 6px;
    display: inline-block;
    position: absolute;
    bottom: 5px; 
    left: 0;
    /*background: #0004ff;*/
    animation: width .2s;
 }


/* ================================= 
    ReactCSSTransitionGroup Classes
==================================== */

/* start enter state */
.slide-enter {
  transform: translateX(-100%);
}

 .inline-block-link {
	display: inline-block;
}

/* end enter state */
.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: transform .2s ease-out;
}

/* start leave state */
.slide-leave {
  transform: translateX(0);
}


/* end leave state */
.slide-leave.slide-leave-active {
  transform: translateX(100%);
  opacity: 0;
  transition: .2s ease-in;
}


/* initial mounting */

.slide-appear {
  transform: translateX(-100%) !important;
}

.slide-appear.slide-appear-active {
  transform: translateX(0) !important;
  transition: transform .2s ease-out !important;
  animation: width .2s;

}