#home-container {
	margin: 0;
	padding: 0;
	height: 100vh;
	text-align: center;
	color: white;
	border: 2px solid black;
}

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	color: white;
}

.nav-links {
	display: inline-block;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 50px;
	margin-top: 22%;
	/*border: 2px solid red;*/
}

#explore-link {
	font-size: 35px;
	border-bottom: 4px solid cyan;
	padding: 0 15px;
	padding-bottom: 5px;
}

#explore-link:hover {
	background: cyan;
	color: white;
}

#name {
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 0;
}


#exit-pages {
	position: absolute;
	right: 2%;
	top: 2%;
}

#content-container {
	height: 100vh;
	/*border: 2px solid red;*/
	text-align: center;
}



#nav-container {
	/*border: 2px solid red;*/
	max-height: 100vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

#full {
	border: 2px solid red;
	height: 2000px;
}

.h2 {
	margin-top: -20px;
}

.work-headers {
	font-size: 3em;
}
#projects-container {
	/*border: 2px solid red;*/
	text-align: center;
}

.work-intro-content {
	color: white;
}

#animated-button {
	background: none;
	color: white;
	/*border: 2px solid red;*/
	margin-top: -20px;
	width: 100%;
	font-size: 35px;
	border-bottom: 4px solid cyan;
}

h1 {
	margin-top: 0;
}

#home-name-explore {
	/*border: 2px solid red;*/
	margin-top: 29%;
	padding: 20px;
	padding-bottom: 30px;
}

.home-content {
	/*border: 2px solid red;*/
	margin-top: 2%;
	display: inline-block;
	width: 700px;
	height: 500px;
}

#nav-page-content {
	/*border: 2px solid blue;*/
	margin-top: 19%;

}

#nav-page-social-links {
	font-size: 25px;
	text-align: center;
	margin-top: 27%;
}

#nav-page-links {
	margin-top: 20%;
	border: 2px solid blue;
}

#nav-container {
	/*border: 2px solid red;*/
}



#modal-content {
	/*border: 2px solid blue;*/
	text-align: center;
	margin: 5% auto;
	padding: 0 20px;
}

#social-links {
	/*border: 2px solid blue;*/
	text-align: center;
	margin: 25% auto;
	font-size: 25px;
}

.social-links {
	/*border: 2px solid blue;*/
	padding: 15px 60px;
	display: inline-block;
	color: white;
	border-top: 2px solid cyan;
	border-spacing: 10px;
	margin: 2px;

}



#modal-full {
	/*border: 2px solid blue;*/
	height: 500px;
	/*width: 100%;*/
}

.social-links:hover, .modal-links:hover {
	background: cyan;
}

.cyan {
	color: cyan;
}

#home-app-modal {
	font-size: 35px;
	/*border-bottom: 4px solid cyan;*/
	padding: 0 15px;
	padding-bottom: 5px;
	background: none;
	/*border: 2px solid red;*/
	display: inline-block;
}



.app-modal {
	position: absolute;
	right: 7px;
	top: 7px;
	/*border: 2px solid blue;*/
}

.modal-links {
	display: inline-block;
	color: white;
	font-size: 50px;
	font-weight: 700;
	/*border: 2px solid blue;*/
	padding: 15px 60px;
	
}

a:hover:after, a:focus:after, .active:after {
    content: " ";
    width: 100%;
    height: 6px;
    display: inline-block;
    position: absolute;
    bottom: 5px; 
    left: 0;
    /*background: #0004ff;*/
    animation: width .2s;
 }


/* ================================= 
    ReactCSSTransitionGroup Classes
==================================== */

/* start enter state */
.slide-enter {
  transform: translateX(-100%);
}

 .inline-block-link {
	display: inline-block;
}

/* end enter state */
.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: transform .2s ease-out;
}

/* start leave state */
.slide-leave {
  transform: translateX(0);
}


/* end leave state */
.slide-leave.slide-leave-active {
  transform: translateX(100%);
  opacity: 0;
  transition: .2s ease-in;
}


/* initial mounting */

.slide-appear {
  transform: translateX(-100%) !important;
}

.slide-appear.slide-appear-active {
  transform: translateX(0) !important;
  transition: transform .2s ease-out !important;
  background: #0004ff;
  animation: width .2s;
}