.app-modal {
	/*border: 2px solid red;*/
}

#header-contact {
	font-family: Raleway;
	/*border: 2px solid red;*/
	/*width: 37%;*/
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
	border-bottom: 3px solid cyan;
}

#header-contact-container {
	/*border: 2px solid blue;*/
	margin-top: 15%;
}

#contact-main {
	height: 100vh;
}

#contact-desc {
	/*border: 2px solid red;*/
	/*margin-left: 100px;*/
	color: grey;
	text-align: center;
}

#social-links-contact {
	/*border: 2px solid blue;*/
	text-align: center;
	font-size: 25px;
	margin-top: 20%;
}

#mail-link {
	color: white;
}

#mail-link:hover {
	color: cyan;
}

.container {
	/*border: 2px solid red;*/
	margin: 0 auto;
	color: white;
	height: 100vh;
}

#phone {
	/*border: 2px solid red;*/
	width: 50%;
	font-size: 35px;
	display: inline-block;
}

.cyan {
	color: cyan;
}

@media only screen and (max-width: 330px) {
	h2#phone {
		font-size: 18px;
	}
}

@media only screen and (max-width: 550px) {
    #social-links-contact {
    	margin-top: 35px;
    }

    #header-contact-container {
    	/*border: 2px solid red;*/
    	margin-top: 25px;
    }

    #header-contact {
    	font-size: 45px;
    }

    #phone {
    	font-size: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    #phone {
        width: 100%;
    }
}

@media only screen and (max-height: 690px) {
    #phone {
        width: 100%;
    }

    #contact-main {
    	height: 750px;
    }
}