#project-page-header {
	font-size: 65px;
	font-weight: 700;
	color: white;
	border-bottom: 3px solid cyan;

	font-family: Raleway, serif !important;
}

#project-page-header {
	margin-top: 45%;
}

.white-text {
	color: white;
	font-size: 35px;
	font-style: italic;
}

#intro-container {
	display: inline-block;
}

#top-half {
	margin-top: 20px;
	border-bottom: 5px solid dodgerblue;
	color: #00bcd4;
	height: 50%;
	/*border: 20px solid green;*/
	text-align: left;
}

#project-title {
	/*border: 2px solid red;*/
	margin-bottom: 0;
	font-size: 45px;
	border-bottom: 4px solid grey;
}

#project-links-atag {
	border-bottom: 3px solid grey;
	color: #00bcd4;
}
#project-links-atag:hover {
	color: grey;
	border-style: none;
}

.description {
	/*border: 2px solid green;*/
	color: grey;
	margin-top: 0;
	font-size: 20px;
	margin-bottom: 10px;
}

#project-links {
	text-align: left;
	margin-top: 0;
	font-size: 35px;
	/*border-bottom: grey 4px solid;*/
	/*display: inline-block;*/
}

#project-links-section3 {
	text-align: right;
	margin-top: 0;
	font-size: 35px;
	/*border-bottom: grey 4px solid;*/
	/*display: inline-block;*/
}


#bottom-half-section3 {
	/*border: 2px solid green;*/
	color: #00bcd4;
	height: 50%;
	text-align: right;
	padding: 20x;
}

#top-half-section3 {
	border-bottom: 5px dodgerblue solid;
	margin-top: 15px;
	margin-left: 10px;
	color: #00bcd4;
	height: 50%;
	/*border: 2px solid green;*/
	text-align: right;
}

#bottom-half {
	/*border: 2px solid green;*/
	color: #00bcd4;
	height: 50%;
	text-align: left;
	padding: 20x;
}

.social-links-project-page {
	/*border: 2px solid red;*/
	padding: 50px;
	padding-top: 150px;
	padding-bottom: 7px;
	font-size: 70px;
	display: inline-block;
	color: cyan;
	border-bottom: 3px solid cyan;
}

.greyborder{
	border-top: 5px solid grey;
}

#get-in-touch {
	color: white;
	font-size: 55px;
	padding: 0 35px;
	padding-top: 80px;
	display: inline-block;
	text-align: center;
	border-bottom: cyan 4px solid;
}

#get-in-touch:hover {
	color: cyan;
}

.text-white {
	color: white;
}

.text-white:hover {
	color: cyan;
}

#mid-section-header {
	/*border: 2px solid red;*/
	color: white;
	font-size: 55px;
	padding-top: 20px;
}

#h2-project-header {
	font-size: 35px;
}

#review-share-header {
	margin-top: 20px;
	display: inline-block;
	border: 2px solid red;
}

div#section3-left-side.col-md-6.col-xs-12.main {
	/*border: 10px solid cyan;*/
}

div#mid-section.row {
}

div#top-half-section3 {
	/*border: 20px solid green;*/
	height: 50vh;
	padding: 20px;
}

div#bottom-half-section3 {
	/*border: 20px solid green;*/
	height: 50vh;
	padding: 20px;
}

div#top-half {
	height: 50vh;
	padding: 20px;
}

div#bottom-half {
	height: 50vh;
	padding: 20px;
}



img {
	margin-top: 20px;
}

#animate-social {
	/*border: 2px solid red;*/
}

#learn-more {
	margin: 25px auto;
	color: cyan;
	font-size: 40px;
	width: 250px;
	/*border-bottom: 4px solid cyan;*/
}

#learn-more:hover {
	background-color: cyan;
}

#section3 {
	/*border: 2px solid red;*/
	margin-top: 5%;
	border-bottom: 5px solid grey;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 188, 212, 0.60);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
}

#section3-left-side {
	background-color: rgba(255, 255, 255, 1);
}



@media only screen and (max-width: 995px) {

	#bottom-contact {
		border-top: 5px solid dodgerblue;
	}
  #get-in-touch {
  	color: black !important;
  	margin-bottom: 100px;
  	border-bottom: grey 5px solid;
  }

  h1#mid-section-header {
  	margin-top: 0;
  	padding-top: 0;
  }

  div#top-half {
  	background-color: black;
  }

  div#left-section.col-md-6.col-xs-12 {
  background-color: black;
  }

  div#section3-left-side.col-md-6.col-xs-12.main {
  background-color: black;
  }
  div#section3 {
  	margin-top: 10%;
  	background-color: black;
  }

  div#right-side.col-md-6.col-xs-12.main {
  	background-color: black;
  }
  div#left-side.col-md-6.col-xs-12.main {
  	background-color: black;
  }

  div.col-md-6.main.col-xs-12 {
  	background-color: black;
  }


  div#section2.row {
  	background-color: black;
  }

  div#divide-section.row {
  	background-color: black;
  }
}